body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}   

#board {
    height: 540px;
    width: 630px;
    background-color: rgb(21, 61, 57);
    border: 10px solid rgb(3, 3, 15);
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: white;
    border-radius: 50%;
    border: 5px solid rgb(130, 130, 156);
}

.red-piece {
    background-color: rgb(223, 60, 163);
}

.yellow-piece {
    background-color: rgb(239, 63, 19);
}

